[user]
    email = louisadunne@gmail.com
    name = Louis A. Dunne
[alias]
    br = branch
    st = status
    log-upstream = log @{u}..
    diff-upstream = diff @{u}..
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
	filemode = false
