[user]
    email = louisadunne@gmail.com
    name = Louis A. Dunne
[alias]
    br = branch
    st = status
    log-upstream = log @{u}..
    diff-upstream = diff @{u}..
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
	filemode = false
[push]
	default = simple
